
p {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  width: 95%;
}
.title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 100px;
}
.container {
  width: 100%;
}
.box {
  background-color: gray;
  border : black solid 1px;
  position: relative;
}
#pink {
  background-color: pink;
  border: black solid 1px;
  font-size: 1.25rem;
  right: 0px;
  position: absolute;
  text-align: center;
  width: 25%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#red {
  background-color: red;
  border: black solid 1px;
  color: white;
  font-size: 1.25rem;
  position: absolute;
  right:0px;
  width: 25%;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ivory {
  background-color: yellow;
  border: black solid 1px;
  font-size: 1.25rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  right: 0px;
  position: absolute;
  text-align: center;
  width: 25%; 
}

@media (max-width: 767px)
{
  .col-sm-12
  {
    float: left;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 5%;
    /* margin-right: 25%; */
  }
  
}
@media (min-width:768px) and (max-width:991px)
{
  .col-md-6-l,.col-md-6-r, .col-md-12
    {
      float: left;
      margin-left: 1%;
    }
  .col-md-6-l {
    width: 48%;
    margin-right: 1%;
    margin-bottom: 10px;
  }
  .col-md-6-r {
    width: 48%;
    margin-left: 1%;
    margin-bottom: 10px;
  }
  .col-md-12 {
    width: 98%;
    margin-top: 10px;
  }
}

@media (min-width:992px)
{
  
  .col-lg-4
  {
    float: left;
    width:31%;
    margin-left: 10px;
    margin-right: 10px;
  }
}